[submodule "PCF2129"]
	path = PCF2129
	url = https://github.com/hideakitai/PCF2129.git
[submodule "PCA9536"]
	path = PCA9536
	url = https://github.com/hideakitai/PCA9536.git
[submodule "MAX17048"]
	path = MAX17048
	url = https://github.com/hideakitai/MAX17048.git
[submodule "IM920"]
	path = IM920
	url = https://github.com/hideakitai/IM920.git
[submodule "PCA9547"]
	path = PCA9547
	url = https://github.com/hideakitai/PCA9547.git
[submodule "TFMini"]
	path = TFMini
	url = https://github.com/hideakitai/TFmini.git
[submodule "MPU9250"]
	path = MPU9250
	url = https://hideakitai@github.com/hideakitai/MPU9250.git
[submodule "MCP4728"]
	path = MCP4728
	url = https://hideakitai@github.com/hideakitai/MCP4728.git
[submodule "DRV2667"]
	path = DRV2667
	url = https://hideakitai@github.com/hideakitai/DRV2667.git
[submodule "L6470Stepper"]
	path = L6470Stepper
	url = https://hideakitai@github.com/hideakitai/L6470Stepper.git
